<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="testNg" parallel = "tests">
	<suite-files>
		<!-- <suite-file path="./xml/createAccount.xml" />
		<suite-file path="./xml/newsletter.xml" />
		<suite-file path="./xml/contactus.xml" />
		<suite-file path="./xml/search.xml" />
		<suite-file path="./xml/shopping.xml" /> -->
		<!-- <suite-file path="./xml/itemdetail.xml" /> -->
	<!-- 	<suite-file path="./xml/all.xml" /> -->
		<suite-file path="./xml/grid.xml" />
		<!-- <suite-file path="./xml/grid_shopping.xml"/> -->
	</suite-files>
</suite>